<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css"
    />
    <link rel="stylesheet" href="/css/style.css">

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-container-fluid">
      <div id="body" class="uk-grid-small uk-background-secondary uk-text-center" uk-grid>
        <div class="uk-width-1-1 uk-background-muted uk-flex uk-flex-middle uk-flex-center">
          <h1>Chat</h1>
        </div>
        <div class="uk-width-1-2 uk-padding">
          <div id="inputdiv" class="uk-card uk-card-default uk-card-body uk-background-muted">
            <div>
              <input
                class="uk-width-1-1 uk-input"
                type="text"
                id="username"
                placeholder="Usuário"
              />
              <input
                class="uk-width-1-1 uk-input uk-margin-top"
                type="text"
                id="msg"
                placeholder="Mensagem"
              />

              <button class="uk-button uk-button-primary uk-margin-top" onclick="send()">Enviar</button>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2 uk-padding">
          <div id="chat" class="uk-card uk-card-default uk-card-body uk-background-muted"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
  <script>
    var socket = io("http://localhost:8000");

    socket.on("disconnnect", () => {
      console.log("Desconectado");
    });

    socket.on("showmsg", (data) => {
      let chat = document.getElementById("chat");
      let p = document.createElement("p");
      let d = new Date();
      let time = `${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`

      p.innerHTML = `<span class='uk-label'>${data.username}</span> - ${data.msg} | <span class='uk-text-small'>${time}</span><hr>`;
      chat.append(p);
    });

    function send() {
      var msgField = document.getElementById("msg");
      var userField = document.getElementById("username");
      var msg = msgField.value;
      var user = userField.value;
      socket.emit("msg", { username: user, msg: msg });
    }
  </script>
</html>
