* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
}
body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  background-color: grey;
}

.container-fluid, .container {
  padding:0;
  margin:0;
}
